@use '../../constants.scss';

#projects{
    margin-bottom: -1px;
    background: constants.$secondary;
}

.projects__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 1028px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
 
}